USE [master]
GO
/****** Object:  Database [InsuranceClaimsDB]    Script Date: 18-04-2025 19:33:23 ******/
CREATE DATABASE [InsuranceClaimsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InsuranceClaimsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_TUSH\MSSQL\DATA\InsuranceClaimsDB.mdf' , SIZE = 729088KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InsuranceClaimsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_TUSH\MSSQL\DATA\InsuranceClaimsDB_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InsuranceClaimsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InsuranceClaimsDB]
GO
/****** Object:  Table [dbo].[InsuranceClaims ]    Script Date: 18-04-2025 19:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceClaims ](
	[id] [int] NOT NULL,
	[IDpol] [varchar](50) NOT NULL,
	[ClaimNb] [int] NOT NULL,
	[Exposure] [float] NOT NULL,
	[Area] [varchar](50) NOT NULL,
	[VehPower] [int] NOT NULL,
	[VehAge] [int] NOT NULL,
	[DrivAge] [int] NOT NULL,
	[BonusMalus] [int] NOT NULL,
	[VehBrand] [varchar](50) NOT NULL,
	[VehGas] [varchar](50) NOT NULL,
	[Density] [float] NOT NULL,
	[Region] [varchar](50) NOT NULL,
 CONSTRAINT [PK_InsuranceClaims ] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_HighRiskPolicies]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_HighRiskPolicies] AS
SELECT * FROM InsuranceClaims
WHERE BonusMalus > 100;
GO
/****** Object:  Table [dbo].[DimBrand]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBrand](
	[BrandKey] [int] IDENTITY(1,1) NOT NULL,
	[VehBrand] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[VehBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRegion]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRegion](
	[RegionKey] [int] IDENTITY(1,1) NOT NULL,
	[Region] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactClaims]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactClaims](
	[FactID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyKey] [int] NULL,
	[AreaKey] [int] NULL,
	[VehicleKey] [int] NULL,
	[DriverKey] [int] NULL,
	[BrandKey] [int] NULL,
	[FuelKey] [int] NULL,
	[RegionKey] [int] NULL,
	[ClaimNb] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ClaimsByRegionBrand]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ClaimsByRegionBrand] AS
SELECT 
    dr.Region, 
    db.VehBrand, 
    SUM(f.ClaimNb) AS TotalClaims
FROM FactClaims f
JOIN DimRegion dr ON f.RegionKey = dr.RegionKey
JOIN DimBrand db ON f.BrandKey = db.BrandKey
GROUP BY dr.Region, db.VehBrand;
GO
/****** Object:  Table [dbo].[DimArea]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimArea](
	[AreaKey] [int] IDENTITY(1,1) NOT NULL,
	[Area] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDriver]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDriver](
	[DriverKey] [int] IDENTITY(1,1) NOT NULL,
	[DrivAge] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimFuel]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimFuel](
	[FuelKey] [int] IDENTITY(1,1) NOT NULL,
	[VehGas] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[FuelKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[VehGas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPolicy]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPolicy](
	[PolicyKey] [int] IDENTITY(1,1) NOT NULL,
	[IDpol] [varchar](50) NULL,
	[BonusMalus] [int] NULL,
	[Exposure] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDpol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVehicle]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVehicle](
	[VehicleKey] [int] IDENTITY(1,1) NOT NULL,
	[VehPower] [int] NULL,
	[VehAge] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_region]    Script Date: 18-04-2025 19:33:24 ******/
CREATE NONCLUSTERED INDEX [idx_region] ON [dbo].[InsuranceClaims ]
(
	[Region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_vehbrand]    Script Date: 18-04-2025 19:33:24 ******/
CREATE NONCLUSTERED INDEX [idx_vehbrand] ON [dbo].[InsuranceClaims ]
(
	[VehBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactClaims]  WITH CHECK ADD FOREIGN KEY([AreaKey])
REFERENCES [dbo].[DimArea] ([AreaKey])
GO
ALTER TABLE [dbo].[FactClaims]  WITH CHECK ADD FOREIGN KEY([BrandKey])
REFERENCES [dbo].[DimBrand] ([BrandKey])
GO
ALTER TABLE [dbo].[FactClaims]  WITH CHECK ADD FOREIGN KEY([DriverKey])
REFERENCES [dbo].[DimDriver] ([DriverKey])
GO
ALTER TABLE [dbo].[FactClaims]  WITH CHECK ADD FOREIGN KEY([FuelKey])
REFERENCES [dbo].[DimFuel] ([FuelKey])
GO
ALTER TABLE [dbo].[FactClaims]  WITH CHECK ADD FOREIGN KEY([PolicyKey])
REFERENCES [dbo].[DimPolicy] ([PolicyKey])
GO
ALTER TABLE [dbo].[FactClaims]  WITH CHECK ADD FOREIGN KEY([RegionKey])
REFERENCES [dbo].[DimRegion] ([RegionKey])
GO
ALTER TABLE [dbo].[FactClaims]  WITH CHECK ADD FOREIGN KEY([VehicleKey])
REFERENCES [dbo].[DimVehicle] ([VehicleKey])
GO
/****** Object:  StoredProcedure [dbo].[sp_BrandClaimsByRegion]    Script Date: 18-04-2025 19:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BrandClaimsByRegion] @Region VARCHAR(50)
AS
BEGIN
    SELECT VehBrand, SUM(ClaimNb) AS TotalClaims
    FROM InsuranceClaims
    WHERE Region = @Region
    GROUP BY VehBrand
    ORDER BY TotalClaims DESC;
END;
GO
USE [master]
GO
